/*@font-face {*/
/*    font-family: Raleway;*/
/*    src: url('./Raleway-Regular.ttf');*/
/*}*/
/*@font-face {*/
/*    font-family: 'Exo';*/
/*    src: url('./Exo-Regular.otf');*/
/*}*/
*, :after, :before { box-sizing: border-box; }
body{
    margin: 0;
    padding: 0;
    background-image: url(naples-wallpaper-shadow.jpg);
    background-size: cover;
    background-position: center;
    animation: zoom-in-out 45s infinite ease-in-out;
    font-size: 16px;
    font-family: "Raleway", serif;
}
@keyframes zoom-in-out {
    0% {
        background-size: 100%; /* Початковий розмір фону */
    }
    50% {
        background-size: 120%; /* Максимальний розмір фону через 5 секунд */
    }
    100% {
        background-size: 100%; /* Повертається до початкового розміру через 10 секунд */
    }
}
.container{
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.head-text img{ display: none; }
.head-text__title{
    font-size: 30px;
    color: #fff;
}
.contact-form__title{
    font-size: 18px;
    color: #fff;
}
.contact-form__links{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
.contact-form__links a img{
    max-width: 40px;
    width: 100%;
    height: auto;
}
form{
    width: 400px;
    margin: 0 auto;
}
input{
    width: 48%;
    float: left;
    margin-bottom: 15px;
    padding: 10px;
}
#name,
#mail{ margin-right: 16px; }
button{
    width: 150px;
    border: none;
    padding: 10px;
    margin-top: 25px;
    background-color: #62bb83;
    color: #fff;
    font-family: 'Exo', serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
    cursor: pointer;
}
button:focus {outline:0;}
button:hover{ background-color: #3eab64; }

textarea[name='message'] {
    resize: none;
    width: 100%;
    padding: 10px;
}
input, textarea[name='message']::placeholder {
    font-family: 'Exo', serif;
    font-size: 13px;
}
#screen, #screenError, #modal, #modalError{
    display: none;
    position: fixed;
}
#screen, #screenError{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    z-index: 99999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#modal,
#modalError{
    width: 33.333%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    z-index: 999999;
    position: absolute;
}
.modal-header{ height: 30px; }
.modal-header__btn{
    width: 30px;
    height: 30px;
    padding: 0px 10px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: darkcyan;
    color: #fff;
    margin: 0;
}
.modal-content{
    text-align: center;
    padding: 5px 35px 35px 35px;
}
.modal-content p{
    margin: 0;
    font-size: 18px;
    color: dimgrey;
    line-height: 1.5;
}

/* MEDIA QUERY */
@media screen and (min-width: 320px) and (max-width: 768px){
    .container{
        width: 300px;
    }
    form{
        width: 250px;
    }
    #name, #mail {
        margin-right: 10px;
    }
    #modal,
    #modalError{
        width: 250px;
    }
}