@media screen and (max-width: 2560px){
	/*====================== Section 05 ======================*/
	.customers-block { background-position: center; }
	/*==================== End Section 05 ====================*/
}
@media screen and (max-width: 1199px) {
	/*====================== Section 02 ======================*/
	.actionbar-block__button{ width: 224px; }
	/*====================== Section 05 ======================*/
	.customers-block .slick-prev { left: 41%; }
	.customers-block .slick-next { right: 41%; }
	/*==================== End Section 05 ====================*/
	/*====================== Section 06 ======================*/
	.post-date { margin: 20px 25px 30px 20px; }
	.post-link { margin-left: 5%; }
	.comment { padding: 13px 22px 16px 15px; }
	/*==================== End Section 06 ====================*/
	/*====================== Section 08 ======================*/
	.dscrpt-content::after { top: 28%; }
	.social-twitter__text {	padding-right: 10px; }
	/*==================== End Section 08 ====================*/
}
@media screen and (max-width:991px) {
	/*====================== Section 02 ======================*/
	.actionbar-block{ height: 265px; }
	.actionbar-block__button { margin: 15px auto 0; }
	.actionbar-block__button::after {
		border-left: 17px solid transparent !important;
		border-right: 17px solid transparent !important;
		border-top: 17px solid #121212 !important;
		left: 50%;
		top: 30%;
	}
	.actionbar-block .actionbar-block__content { margin-left: 0; }
	/*==================== End Section 02 ====================*/
	/*====================== Section 03 ======================*/
	.services-block__cards .cards-border { margin: 10px 27px; }
	/*==================== End Section 03 ====================*/
	/*====================== Section 04 ======================*/
	.works-block__title { line-height: 0.6;	}
	.works-block__name{
		padding: 0 10px;
		line-height: 1.5;
	}
	.works-block .works-block__slider{ display: flex; }
	.works-block .slick-prev { left: 30%; }
	.works-block .slick-next { right: 30%; }
	/*==================== End Section 04 ====================*/
	.slick-track { height: 100%; }
	/*====================== Section 05 ======================*/
	.customers-block__title { line-height: 1.5;	}
	.customers-block .slick-prev { left: 38%; }
	.customers-block .slick-next { right: 38%; }
	/*==================== End Section 05 ====================*/
	/*====================== Section 06 ======================*/
	.post-link {
		margin: unset;
		left: 35%;
	}
	/*==================== End Section 06 ====================*/
	/*====================== Section 07 ======================*/
	.info-block__content{ margin-top: 30px; }
	.info-block__content, .info-block__title, .info-block__subtitle{ text-align: center; }
	/*==================== End Section 07 ====================*/
	/*====================== Section 08 ======================*/
	.contacts-block{ background: none !important; }
	.contacts-block	.container {
		width: 100%;
		max-width: unset;
	}
	.contacts-block__data{ padding: 0; }
	.mobile-bg { position: relative; }
	.mobile-bg:before{
		content: '';
		position: absolute;
		height: 100%;
		z-index: -1;
		width: 100vw;
		left: -15px;
		background: linear-gradient(180deg, rgb(48,48,48) 35%, rgb(18, 18, 18) 35% );
	}
	.data-phone, .data-support, .data-mail, .data-hours{
		padding: 20px 0;
		border-right: 0 !important;
	}
	.dscrpt{ border: none !important; }
	.dscrpt-content::after { top: 32%; }
	.dscrpt-content, .dscrpt-content__subtitle{ text-align: center; }
	.social { padding: 40px; }
	.social-mail, .social-recent, .social-flickr { border-left: 0 !important; }
	/*==================== End Section 08 ====================*/
	/*======================== Footer ========================*/
	.footer-block__header,
	.footer-block__rights{ text-align: center; }
	.footer-block__items{ margin: 5px 0 15px; }
	/*====================== End Footer ======================*/
}
@media screen and (min-width: 620px) and (max-width:767px) {
	/*====================== Section 04 ======================*/
	.works-block .slick-prev { left: 25%; }
	.works-block .slick-next { right: 25%; }
	.works-block .slick-prev, .works-block .slick-next { top: -30%; }
	/*==================== End Section 04 ====================*/
	/*====================== Section 05 ======================*/
	.customers-block .slick-prev { left: 33%; }
	.customers-block .slick-next { right: 33%; }
	/*==================== End Section 05 ====================*/
	/*====================== Section 06 ======================*/
	.post-link {
		margin: unset;
		left: 15%;
	}
	/*==================== End Section 06 ====================*/
	/*======================== Footer ========================*/
	.footer-block__title{ flex-direction: column; }
	.footer-block__header,
	.footer-block__rights{ text-align: center; }
	/*====================== End Footer ======================*/
}
@media screen and (min-width: 400px) and (max-width:619px) {
	/*====================== Section 04 ======================*/
	.works-block .slick-prev, .works-block .slick-next{ top: -29%; }
	.works-block .slick-prev { left: 15%; }
	.works-block .slick-next { right: 15%; }
	/*==================== End Section 04 ====================*/
	/*====================== Section 06 ======================*/
	.post-link {
		margin: unset;
		left: 8%;
	}
	/*==================== End Section 06 ====================*/
	/*======================== Footer ========================*/
	.footer-block__title{ flex-direction: column; }
	.footer-block__header,
	.footer-block__rights{ text-align: center; }
	.footer-block__items{ margin-top: 30px; }
	/*====================== End Footer ======================*/
}
@media screen and (min-width: 535px) and (max-width: 619px){
	/*====================== Section 05 ======================*/
	.customers-block .slick-prev { left: 30%; }
	.customers-block .slick-next { right: 30%; }
	/*==================== End Section 05 ====================*/
}
@media screen and (min-width: 320px) and (max-width: 535px){
	/*====================== Section 02 ======================*/
	.actionbar-block .actionbar-block__content{ margin: 0; }
	/*==================== End Section 02 ====================*/
	/*====================== Section 03 ======================*/
	.services-block__cards .cards-border { margin: 10px 27px; }
	.services-block__text { text-align: justify; }
	.services-block__content { margin: 0 30px; }
	.cards-border__text { text-align: justify; }
	/*==================== End Section 03 ====================*/
	/*====================== Section 04 ======================*/
	.works-block .slick-prev, .works-block .slick-next{ top: -10%; }
	.works-block .slick-prev { left: 9%; }
	.works-block .slick-next { right: 9%; }
	/*==================== End Section 04 ====================*/
	/*====================== Section 05 ======================*/
	.customers-block .slick-prev { left: 25%; }
	.customers-block .slick-next { right: 25%; }
	/*==================== End Section 05 ====================*/
	/*====================== Section 06 ======================*/
	.post-date {
		margin: 35px 25px 30px 20px;
		height: 100%;
	}
	.post-link{
		left: -15%;
		top: 50px;
	}
	.comment{
		display: block;
		text-align: center;
	}
	.comment-avatar{
		width: 50%;
		margin: 0 auto;
	}
	.comment-avatar__image { margin: 0 auto; }
	.comment-divider{
		border-top: 2px solid rgb(221, 221, 221);
		width: 38px;
		height: 2px;
		margin: 30px auto;
	}
	.comment-dscrpt {
		margin-top: 0;
		text-align: left;
	}
	/*==================== End Section 06 ====================*/
	/*======================== Footer ========================*/
	.footer-block__title{ flex-direction: column; }
	.footer-block__pages{
		padding: 0;
		flex-wrap: wrap;
		justify-content: center;
	}
	/*====================== End Footer ======================*/
}
